<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="js/angular.min.js"></script>
    <script src="js/controllers/mainCtrl.js"></script>
    <script src="js/factories/reqFactory.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-route.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body ng-controller="mainCtrl">

<h1>Спеціальності</h1>
<form>
    <button ng-click="showAdd()">Додати спеціальність</button>
    <div ng-show="addSpec">
        <p><input type="text" ng-model="name"/>Назва спеціальності </p>
        <p><input type="text" ng-model="code"/>Код спеціальності </p>
        <button ng-click="add()">Додати</button>
    </div>
</form>
<div>
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>№</th>
            <th>Спеціальність</th>
            <th>Код</th>
            <th>Дії</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="speciality in specialities">
            <td>{{$index+1}}</td>
            <td>{{speciality.speciality_name}}</td>
            <td>{{speciality.speciality_code}}</td>
            <td><a class="glyphicon glyphicon-pencil" ng-click="edit(speciality)"></a><a class="glyphicon glyphicon-trash" ng-click="delete(speciality)"></a></td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>