$nav_color : #069740;

body, html, .container-fluid, .nav-row {
	height: 100%;
}

.margin {
	margin:10px;
}

@mixin navstyle {
	background-color: $nav_color;
	ul {
		padding-left: 0;
		li {
			list-style-type: none;
			a {
				color: white;
			    padding: 15px 0;
			    text-align: center;
			    width: 100%;
			    font-size:16px;
				&:hover {
					text-decoration: none;
					font-weight: bold;
					background-color: #057933;
				}
				span {
					color: white;
		    		/*text-shadow: 0 0 8px #C4D2D5;*/
		    		font-size:20px;
				}
			}
		}
	}
}

.left-panel {
	position: fixed;
	min-height: 100%;
	/*box-shadow: 3px 0 3px $nav_color;*/
	ul li a {
		display: inline-block;
		span {
			display:block;
			padding-bottom:5px;
		}
	}
	@include navstyle;
}

.top-nav {
	box-shadow: 0 2px 2px rgba(166, 198, 46, 0.79);
	margin-bottom: 20px;
	ul li a span {
		padding:5px;
	}
	@include navstyle;
  	background-color: rgba(31, 160, 45, 0.56);
}


.usCenter {
    text-align: center;
}
.badge{
    background-color: #3c763d;
}
@media (max-width: 970px) {
  .top-nav {
	background-color: $nav_color;
  }



@media (min-width: 600px) {
  /*.top-nav {
	background-color: $nav_color;
  }*/
	.top-nav ul {
		margin:10px auto;
		li{
		    display: inline;
		    margin: 5px 7px 5px 7px;
		}
	}
}
@media (max-width: 601px) {
  .top-nav {
	background-color: $nav_color;
  }
	.top-nav ul li a{
	    display: inline-block;
    }
}}
