<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="deleteModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Видалити запис?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="activateEntity()">Скасувати</button>
        <button type="button" class="btn btn-danger" ng-click="removeEntity()" data-dismiss="modal">Видалити</button>
      </div>
    </div>
  </div>
</div>
