					<div class="form-group">
						<label class="btn btn-default btn-sm"
									 for="photo"
									 data-toggl="popover">
									 <span class="glyphicon glyphicon-cloud-upload"></span> <span class="file-name">Choose Student's Photo</span>
						</label>
						<input type="file"
									 name="studPhoto"
									 id="photo"
									 class="form-control inputfile"
									 aria-describedby="helpPhoto"
									 tabindex="9"
									 filereadd="studPhoto"
									 accept="image/*">
<!-- 						<span id="helpPhoto"
			ng-show="addRecord.studPhoto.$invalid && addRecord.studPhoto.$dirty"
			class="help-block error">{{ getError(addRecord.studPhoto.$error) }}
</span>
 -->
					</div>
