<div entities-drct="AdminUser">
  <div class="wrapper panel-success no-border">
    <!-- The button and form to add Entity -->
    <div class="col-md-12">
      <div>
        <br/>
        <show-add-form-button-drct></show-add-form-button-drct>
        <br/><br/><br/>
        <div class="well" ng-show="showingAdd">
          <div class=" row">
            <form name="addForm" class="form-inline" role='form' novalidate>
              <div class="col-md-3">
                <input class="form-control width-max" placeholder="Введіть логін" type='text' ng-model="newEntity.username" required
                    >
              </div>
              <div class="col-md-3">
                <input class="form-control width-max navbar-btn" placeholder="Введіть елетронну пошту" type='email' ng-model="newEntity.email" required>
              </div>
              <div class="col-md-2">
                <input class="form-control width-max navbar-btn" placeholder="Введіть пароль" type='password' ng-model="newEntity.password" required>
              </div>
              <div class="col-md-2">
                <input class="form-control width-max navbar-btn" placeholder="Повторіть пароль" type='password' ng-model="newEntity.password_confirm" required>
              </div>
              <div class="col-md-2">
                <button type="submit" class="btn btn-success pull-right width-max navbar-btn" ng-disabled="addForm.$invalid" ng-click="addEntity()">Додати</button>
              </div>
            </form>
          </div>
        </div>
        <div ng-show="!entities">{{noData}}</div>
        <!-- The table for list of Entities -->
        <table ng-show="entities" class="table table-hover .table-condensed">
          <thead>
          <tr>
            <th class="col-md-1">№</th>
            <th class="col-md-2">Логін</th>
            <th class="col-md-2">Електронна пошта</th>
            <th class="col-md-2"></th>
            <th class="col-md-2"></th>
            <th class="col-md-2 usCenter">Дії</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-if="entity != editingEntity" ng-repeat-start="entity in entities">
            <!-- read-only cells -->
            <td class="col-md-1">{{$index + 1}}</td>
            <td class="col-md-2">{{entity.username}}</td>
            <td class="col-md-2">{{entity.email}}</td>
            <td class="col-md-2"></td>
            <td class="col-md-2"></td>
            <td class="col-md-2 usCenter">
              <actions-buttons-drct></actions-buttons-drct>
            </td>
          </tr>
          <tr ng-if="entity == editingEntity" ng-repeat-end="">
            <td>{{$index + 1}}</td>
            <td><input class="form-control width-max navbar-btn" type='text' ng-model="editedEntity.new_username"></td>
            <td><input class="form-control width-max navbar-btn" type='email' ng-model="editedEntity.new_email"></td>
            <td><input class="form-control width-max navbar-btn" placeholder="Введіть пароль" type='password' ng-model="editedEntity.new_password"></td>
            <td><input class="form-control width-max navbar-btn" placeholder="Повторіть пароль" type='password' ng-model="editedEntity.new_password_confirm"></td>
            <td class="usCenter">
              <editing-buttons-drct></editing-buttons-drct>
            </td>
          </tr>
          </tbody>
        </table>
        <!-- The modal to confirm removing of Entity -->
        <deleting-modal-drct></deleting-modal-drct>
        <!-- The modal to inform about error from server -->
        <inform-modal-drct></inform-modal-drct>
      </div>
    </div>
  </div>
</div>
