<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h1>Adding a new student</h1>
			<form name="formAddStudentRecord"
									novalidate
									ng-submit="addNewStudent(newStudent)">
							<div class="form-group">
								<label class="sr-only" for="name">First Name</label>
								<input type="text"
											 id="name"
											 class="form-control"
											 aria-describedby="helpName"
											 placeholder="John"
											 ng-model="newStudent.student_fname"
											 required>
								<span id="helpName" class="help-block">Please, enter your fisrt name. It should contain minimum 2 letters without special symbols in latin or cyrillic.</span>
							</div>
							<div class="form-group">
								<label class="sr-only" for="secname">Second Name</label>
								<input type="text"
											 id="secname"
											 class="form-control"
											 aria-describedby="helpSecName"
											 placeholder="Drake"
											 ng-model="newStudent.student_name"
											 required>
								<span id="helpSecName" class="help-block">Please, enter your second name. It should contain minimum 2 letters without special symbols in latin or cyrillic.</span>
							</div>
							<div class="form-group">
								<label class="sr-only" for="surname">Last Name</label>
								<input type="text"
											 id="surname"
											 class="form-control"
											 aria-describedby="helpSurname"
											 placeholder="Smith"
											 ng-model="newStudent.student_surname"
											 required>
								<span id="helpSurname" class="help-block">Please, enter your last name. It should contain minimum 2 letters without special symbols in latin or cyrillic.</span>
							</div>
							<div class="form-group">
								<label class="sr-only" for="username">User Name</label>
								<input type="text"
											 id="username"
											 class="form-control"
											 aria-describedby="helpUsername"
											 placeholder="e.g. test-user"
											 ng-model="newStudent.username"
											 required>
								<span id="helpUsername" class="help-block">Please, choose your username. It should contain minimum 5 latin letters without special symbols.</span>
							</div>
							<div class="form-group">
								<label class="sr-only" for="password">User Password</label>
								<input type="password"
											 id="password"
											 class="form-control"
											 aria-describedby="helpPassword"
											 ng-model="newStudent.password"
											 required>
								<span id="helpPassword" class="help-block">Please, choose your password. It should contain minimum 8 characters with special symbols.</span>
							</div>
							<div class="form-group">
								<label class="sr-only" for="confpassword">Confirm Password</label>
								<input type="password"
											 id="confpassword"
											 class="form-control"
											 aria-describedby="helpConfPassword"
											 ng-model="newStudent.password_confirm"
											 required>
								<span id="helpConfPassword" class="help-block">Please, confirm the password you have chosen earlier.</span>
							</div>
							<div class="form-group">
								<label class="sr-only" for="email">Email Address</label>
								<input type="email"
											 id="email"
											 class="form-control"
											 aria-describedby="helpEmail"
											 placeholder="myemail@site.com"
											 ng-model="newStudent.email"
											 required>
								<span id="helpEmail" class="help-block">Please, enter your email.</span>
							</div>
							<div class="form-group">
								<label class="sr-only" for="gradebook">Gradebook Code</label>
								<input type="text"
											 id="gradebook"
											 class="form-control"
											 aria-describedby="helpGradebook"
											 ng-model="newStudent.gradebook_id"
											 required>
								<span id="helpGradebook" class="help-block">Please, enter your gradebook code here. You may use latin and cyrillic characters, numbers and special symbols.</span>
							</div>
							<button type="submit" class="btn btn-default">Submit</button>
						</form>
		</div>
	</div>
</div>