
<div class="container-fluid">
    <div class="row nav-row">
        <div class="col-md-2 pad"> </div>
        <div class="col-md-2 left-panel hidden-sm hidden-xs">
            <div class="row">
                <div class="col-xs-12 logoWrapper">
                    <!-- Клік по лого - головна сторінка -->
                    <a href=""><img class="logo hidden-sm hidden-xs" src="img/dtester.jpg" height="150" alt="Logo"></a>
                    <hr>
                </div>
            </div>
            <div class="row">
                <nav class="col-md-12 hidden-sm hidden-xs">
                    <ul class="">
                        <li><a href="#/"><span class="glyphicon glyphicon-tasks"></span><!--Результати--> Results</a></li>
                        <li><a href="#/"><span class="glyphicon glyphicon-user"></span><!--Студенти--> Students</a></li>
                        <li><a href="#/"><span class="glyphicon glyphicon-th-list"></span><!--Тести -->Tests</a></li>
                        <li><a ui-sref=".faculties"><span class="glyphicon glyphicon-tag"> </span><!--Факультети -->Fuculties</a></li>
                        <li><a ui-sref=".groups"><span class="glyphicon glyphicon-tag"></span><!--Групи -->Groups</a></li>
                        <li><a ui-sref=".specialities"><span class="glyphicon glyphicon-tag"> </span><!-- Спеціальності -->Specialities</a></li>
                        <li><a href="#/"><span class="glyphicon glyphicon-education"></span><!--Предмети -->Subjects</a></li>
                    </ul>
                </nav>
            </div>
            <div class="row">

            </div>

        </div>
        <div class="col-xs-12 col-md-10">
            <div class="row">
                <div class="col-xs-12 top-nav">

                    <nav class="col-sm-12 hidden-md hidden-lg">
                        <ul class="">
                            <li><a href="#/"><span class="glyphicon glyphicon-tasks"></span><!--Результати--> Results</a></li>
                            <li><a href="#/"><span class="glyphicon glyphicon-user"></span><!--Студенти--> Students</a></li>
                            <li><a href="#/"><span class="glyphicon glyphicon-th-list"></span><!--Тести -->Tests</a></li>
                            <li><a ui-sref=".faculties"><span class="glyphicon glyphicon-tag"> </span><!--Факультети -->Fuculties</a></li>
                            <li><a ui-sref=".groups"><span class="glyphicon glyphicon-tag"></span><!--Групи -->Groups</a></li>
                            <li><a ui-sref=".specialities"><span class="glyphicon glyphicon-tag"> </span><!-- Спеціальності -->Specialities</a></li>
                            <li><a href="#/"><span class="glyphicon glyphicon-education"></span><!--Предмети -->Subjects</a></li>
                        </ul>
                    </nav>

                    <div class="hidden-sm hidden-xs">


                        <div class="col-sm-offset-5 col-sm-4">
                            <div class="input-group margin">
                                <input type="text" class="form-control" placeholder="Search">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="glyphicon glyphicon-search"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another one</a></li>
                                        <li><a href="#">Something else</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Some link</a></li>
                                    </ul>
                                </div><!-- /btn-group -->
                            </div><!-- /input-group -->
                        </div>

                        <div class="col-sm-3">
                            <div class="input-group margin">
				    <span id="basic-addon1" class="input-group-addon">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
							user_name
							</span>
                                <a href="#/login"><button type="button" class="btn btn-success" title="Log out"><span class="glyphicon glyphicon-share-alt"></span></button></a>
                            </div><!-- /input-group -->
                        </div>
                    </div>
                </div>
            </div>

            <ui-view></ui-view>

        </div>
    </div>
</div>