<div entities-drct="faculty">
  <div class="wrapper panel-success no-border">
        <!-- The button and form to add Entity -->
        <div class="col-md-12">
          <div>
            <br/>
            <show-add-form-button-drct></show-add-form-button-drct>
            <br/><br/><br/>
            <div class="well" ng-show="showingAdd">
                <div class=" row">
                  <form name="addForm" class="form-inline" role='form' novalidate>
                    <div class="col-md-4">
                      <input class="form-control width-max navbar-btn" placeholder="Введіть назву факультету" type='text' ng-model="newEntity.faculty_name" required
                      >
                    </div>
                    <div class="col-md-6">
                      <input class="form-control width-max navbar-btn" placeholder="Вкажіть деталі" type='text' ng-model="newEntity.faculty_description" required>
                    </div>
                    <div class="col-md-2">
                      <button type="submit" class="btn btn-success pull-right width-max navbar-btn" ng-disabled="addForm.$invalid" ng-click="addEntity()">Додати</button>
                    </div>
                  </form>
                </div>
            </div>
            <div ng-show="!entities">{{noData}}</div>
<!-- The table for list of Entities -->
            <table ng-show="entities" class="table table-hover .table-condensed">
                <thead class="usCenter">
                  <tr>
                    <th>№</th>
                    <th class="col-md-4 clickable" ng-click="sortType = 'faculty_name'; sortReverse = !sortReverse">Факультет
                        <i ng-show="sortType == 'faculty_name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></i>
                        <i ng-show="sortType == 'faculty_name' && sortReverse" class="glyphicon glyphicon-chevron-up"></i>
                    </th>
                    <th class="col-md-6 clickable" ng-click="sortType = 'faculty_description'; sortReverse = !sortReverse">Деталі
                        <i ng-show="sortType == 'faculty_description' && !sortReverse" class="glyphicon glyphicon-chevron-down"></i>
                        <i ng-show="sortType == 'faculty_description' && sortReverse" class="glyphicon glyphicon-chevron-up"></i>
                    </th>
                    <th class="col-md-2">Дії</th>
                  </tr>
                </thead>
                <tbody class="usCenter">
                  <tr ng-if="entity != editingEntity" ng-repeat-start="entity in entities | filter:searchItem | orderBy:sortType:sortReverse" id="row{{$index + 1}}">
                    <!-- read-only cells -->
                    <td>{{$index + 1}}</td>
                    <td class="col-md-4">{{entity.faculty_name}}</td>
                    <td class="col-md-6">{{entity.faculty_description}}</td>
                    <td class="col-md-2">
                      <actions-buttons-drct></actions-buttons-drct>
                    </td>
                  </tr>
                  <tr ng-if="entity == editingEntity" ng-repeat-end="">
                    <td>{{$index + 1}}</td>
                    <td class="col-md-4"><input class="form-control width-max navbar-btn" ng-model="editedEntity.new_faculty_name"></td>
                    <td class="col-md-6"><input class="form-control width-max navbar-btn" ng-model="editedEntity.new_faculty_description"></td>
                    <td class="col-md-2">
                      <editing-buttons-drct></editing-buttons-drct>
                    </td>
                  </tr>
                </tbody>
            </table>
            <!-- The modal to confirm removing of Entity -->
            <deleting-modal-drct></deleting-modal-drct>
            <!-- The modal to inform about error from server -->
            <inform-modal-drct></inform-modal-drct>
          </div>
        </div>
      </div>
</div>
