<div>
  <div class="wrapper panel-success no-border">

        <!-- The button and form to add Entity -->
        <div class="col-md-12">
          <div>
            <br/>
            <button class="btn btn-primary pull-right" ng-click="showAddForm()"><span class="glyphicon glyphicon-plus"></span></button>
            <br/><br/><br/>
            <div class="well" ng-show="showingAdd">
                <div class=" row">
                  <form name="addForm" class="form-inline" role='form' novalidate>
                    <div class="col-md-4">
                      <input class="form-control width-max" placeholder="Введіть назву факультету" type='text' ng-model="newName" required
                      >
                    </div>
                    <div class="col-md-6">
                      <input class="form-control width-max" placeholder="Вкажіть деталі" type='text' ng-model="newDescription" required>
                    </div>
                    <div class="col-md-2">
                      <button type="submit" class="btn btn-success pull-right width-max" ng-disabled="addForm.$invalid" ng-click="addFaculty()">Додати</button>
                    </div>
                  </form>
                </div>
            </div>


            <div ng-show="!faculties">{{noData}}</div>

<!-- The table for list of Entities -->
            <table ng-show="faculties" class="table table-hover .table-condensed">
                <thead>
                  <tr>
                    <th>№</th>
                    <th>Факультет</th>
                    <th>Деталі</th>
                    <th class="usCenter">Дії</th>
                  </tr>
                </thead>
                <tbody ng-repeat="faculty in faculties">
                  <tr ng-if="faculty != editingFaculty">
                    <!-- read-only cells -->
                    <td>{{$index + 1}}</td>
                    <td>{{faculty.faculty_name}}</td>
                    <td>{{faculty.faculty_description}}</td>
                    <td class="usCenter">
                      <button class="btn btn-info" ng-click="showEditForm(faculty)">
                        <span class="glyphicon glyphicon-pencil"></span></button>
                      <button class="btn btn-danger col-md-offset-1" data-toggle="modal" data-target="#deleteModal" ng-click="activateFaculty(faculty)">
                        <span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                  </tr>
                  <tr ng-if="faculty == editingFaculty">
                    <td>{{$index + 1}}</td>
                    <td><input class="form-control width-max" ng-model="editingData.editingName"></td>
                    <td><input class="form-control width-max" ng-model="editingData.editingDescription"></td>
                    <td class="usCenter">
                      <button class="btn btn-success" ng-click="editFaculty()">
                        <span class="glyphicon glyphicon-ok"></span></button>
                      <button class="btn btn-warning col-md-offset-1" ng-click="showEditForm(faculty)">
                        <span class="glyphicon glyphicon-remove"></span></button>
                    </td>
                  </tr>
                </tbody>
            </table>

            <!-- The modal to confirm removing of Entity -->
            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="deleteModal">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Видалити запис?</h4>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="activateFaculty()">Скасувати</button>
                    <button type="button" class="btn btn-danger" ng-click="removeFaculty()" data-dismiss="modal">Видалити</button>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
</div>
