<div>
  <div class="wrapper panel-success no-border">
        <!-- The button and form to add Entity -->
        <div class="col-md-12">
          <div>
            <br/>
            <show-add-form-button-drct></show-add-form-button-drct>
            <br/><br/><br/>
            <div class="well" ng-show="showingAdd">
                <div class=" row">
                  <form name="addForm" class="form-inline" role='form' novalidate>
                    <div class="col-md-4">
                      <input class="form-control width-max navbar-btn" placeholder="Введіть назву групи" type='text' ng-model="newName" required>
                    </div>
                    <div class="col-md-3">
                    <select class="form-control width-max navbar-btn"
                      ng-options="key as value for (key, value) in groups.faculty" name="faculty"
                       ng-model="newFaculty_id" required>
                       <option value="">Виберіть факультет</option>
                    </select></td>
                    </div>

                  <div class="col-md-3">
                  <select class="form-control width-max navbar-btn"
                  ng-options="key as value for (key, value) in groups.speciality" name="faculty"
                   ng-model="newSpeciality_id" required>
                   <option value="">Виберіть спеціальність</option>
                  </select>
                    </div>
                    <div class="col-md-2">
                      <button type="submit" class="btn btn-success pull-right width-max navbar-btn" ng-disabled="addForm.$invalid" ng-click="addGroup()">Додати</button>
                    </div>
                  </form>
                </div>
            </div>


            <div ng-show="!faculties">{{noData}}</div>

<!-- The table for list of Entities -->
            <table class="table table-hover .table-condensed">
                <thead class="usCenter">
                  <tr>
                    <th class="usCenter">№</th>
                    <th class="usCenter">Назва групи</th>
                    <th class="usCenter">Факультет</th>
                    <th class="usCenter">Спеціальність</th>
                    <th class="usCenter">Дії</th>
                  </tr>
                </thead>
                  <tbody class="usCenter">
                    <tr ng-repeat-start="row in groups.list" ng-if='editingData.group_id !== row.group_id'>
                      <td class="usCenter">{{$index + 1}}</td>
                      <td class="usCenter">{{row.group_name}}</td>
                      <td class="usCenter">{{row.faculty_name}}</td>
                      <td class="usCenter">{{row.speciality_name}}</td>
                        <td  class="usCenter">
                          <button class="btn btn-info" ng-click='showEditForm(row)'>
                            <span class="glyphicon glyphicon-pencil"></span></button>
                          <button class="btn btn-danger col-md-offset-1" data-toggle="modal" data-target="#deleteModal" ng-click='activateGroup(row.group_id)'>
                            <span class="glyphicon glyphicon-trash"></span></button>
                      </td>
                    </tr>
                    <tr ng-repeat-end ng-if='editingData.group_id === row.group_id'>
                      <td class="usCenter">{{$index + 1}}</td>
                      <td class="usCenter">
                        <input class="form-control width-max navbar-btn" ng-model="editingData.group_name" value= '{{row.group_name}}'</>
                      </td>
                      <td class="usCenter">
                        <select class="form-control width-max navbar-btn"
                      ng-options="key as value for (key, value) in groups.faculty" name="faculty"
                       ng-model="editingData.faculty_id">
                        </select>
                      </td>
                      <td class="usCenter">
                        <select class="form-control width-max navbar-btn"
                        ng-options="key as value for (key, value) in groups.speciality" name="faculty"
                         ng-model="editingData.speciality_id">
                        </select>
                      </td>
                      <td  class="usCenter">
                          <button class="btn btn-success navbar-btn" ng-click='editGroup()'>
                            <span class="glyphicon glyphicon-ok"></span></button>
                          <button class="btn btn-warning col-md-offset-1 navbar-btn" ng-click="showEditForm(null)">
                            <span class="glyphicon glyphicon-remove"></span></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
            <!-- The modal to confirm removing of Entity -->
            <deleting-modal-drct></deleting-modal-drct>
            <!-- The modal to inform about error from server -->
            <inform-modal-drct></inform-modal-drct>
          </div>
        </div>
      </div>
</div>
