<div class="container-fluid">

<!-- Student Add form HERE -->
	<div class="row"
			 ng-controller="addStudentCtrl">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<button class="btn btn-sm btn-primary pull-right add-button" ng-click="showAddForm()">
			<span class="glyphicon glyphicon-plus"></span>
		</button>

			<div class="well well-stud" ng-show="showingAdd">
				<form name="addRecord"
							novalidate
							ng-submit="addNewStudent(newStudent)">

					<div class="form-group">
						<label class="sr-only" for="name">First Name</label>
						<input type="text"
									 name="studFirstName"
									 id="name"
									 class="form-control"
									 aria-describedby="helpName"
									 placeholder="John"
									 tabindex="1"
									 ng-minlength="2"
									 ng-maxlength="50"
									 ng-model="newStudent.student_fname"
									 required>

						<!-- Error message for Student's First Name -->
						<span id="helpName"
									ng-show="addRecord.studFirstName.$invalid && addRecord.studFirstName.$dirty"
									class="help-block error">{{ getError(addRecord.studFirstName.$error) }}
						</span>

					</div>
					<div class="form-group">
						<label class="sr-only" for="secname">Second Name</label>
						<input type="text"
									 name="studSecondName"
									 id="secname"
									 class="form-control"
									 aria-describedby="helpSecName"
									 placeholder="Drake"
									 tabindex="2"
									 ng-minlength="2"
									 ng-maxlength="50"
									 ng-model="newStudent.student_name"
									 required>

						<!-- Error message for Student's Second Name -->
						<span id="helpSecName"
									ng-show="addRecord.studSecondName.$invalid && addRecord.studSecondName.$dirty"
									class="help-block error">{{ getError(addRecord.studSecondName.$error) }}
						</span>

					</div>
					<div class="form-group">
						<label class="sr-only" for="surname">Last Name</label>
						<input type="text"
									 name="studSurname"
									 id="surname"
									 class="form-control"
									 aria-describedby="helpSurname"
									 placeholder="Smith"
									 tabindex="3"
									 ng-minlength="2"
									 ng-maxlength="50"
									 ng-model="newStudent.student_surname"
									 required>

						<!-- Error message for Student's Surname -->
						<span id="helpSurname"
									ng-show="addRecord.studSurname.$invalid && addRecord.studSurname.$dirty"
									class="help-block error">{{ getError(addRecord.studSurname.$error) }}
						</span>

					</div>
					<div class="form-group">
						<label class="sr-only" for="username">User Name</label>
						<input type="text"
									 name="studUsername"
									 id="username"
									 class="form-control"
									 aria-describedby="helpUsername"
									 placeholder="e.g. test-user"
									 tabindex="4"
									 ng-minlength="4"
									 ng-maxlength="32"
									 ng-model="newStudent.username"
									 required>

						<!-- Error message for Student's Username -->
						<span id="helpUsername"
									ng-show="addRecord.studUsername.$invalid && addRecord.studUsername.$dirty"
									class="help-block error">{{ getError(addRecord.studUsername.$error) }}
						</span>

					</div>
					<div class="form-group">
						<label class="sr-only" for="password">User Password</label>
						<input type="password"
									 name="studUserPassword"
									 id="password"
									 class="form-control"
									 aria-describedby="helpPassword"
									 tabindex="5"
									 minlength="4"
									 maxlength="64"
									 ng-model="newStudent.password"
									 required>

						<!-- Error message for Student's User Password -->
						<span id="helpPassword"
									ng-show="addRecord.studUserPassword.$dirty"
									class="help-block error">{{ getError(addRecord.studUserPassword.$error) }}
						</span>

					</div>
					<div class="form-group">
						<label class="sr-only" for="confpassword">Confirm Password</label>
						<input type="password"
									 name="studConfPassword"
									 id="confpassword"
									 class="form-control"
									 aria-describedby="helpConfPassword"
									 tabindex="6"
									 ng-maxlength="64"
									 ng-model="newStudent.password_confirm"
									 required>

						<!-- Error message for Student's User Password Confiramtion -->
						<span id="helpConfPassword"
									ng-show="addRecord.studConfPassword.$invalid && addRecord.studConfPassword.$dirty"
									class="help-block error">{{ getError(addRecord.studConfPassword.$error) }}
						</span>

					</div>
					<div class="form-group">
						<label class="sr-only" for="email">Email Address</label>
						<input type="email"
									 name="studentEmail"
									 id="email"
									 class="form-control"
									 aria-describedby="helpEmail"
									 placeholder="myemail@site.com"
									 tabindex="7"
									 ng-model="newStudent.email"
									 required>

						<!-- Error message for EMAIL -->
						<span id="helpEmail"
									ng-show="addRecord.studentEmail.$invalid && addRecord.studentEmail.$dirty"
									class="help-block error">{{ getError(addRecord.studentEmail.$error) }}
						</span>

					</div>
					<div class="form-group">
						<label class="sr-only" for="gradebook">Gradebook Code</label>
						<input type="text"
									 name="studGradebook"
									 id="gradebook"
									 class="form-control"
									 aria-describedby="helpGradebook"
									 placeholder="AH-894893"
									 tabindex="8"
									 ng-minlength="5"
									 ng-maxlength="20"
									 ng-model="newStudent.gradebook_id"
									 required>

						<!-- Error message for Student's Gradebook -->
						<span id="helpGradebook"
									ng-show="addRecord.studGradebook.$invalid && addRecord.studentGradebook.$dirty"
									class="help-block error">{{ getError(addRecord.studGradebook.$error) }}
						</span>

					</div>
					<div class="form-group">
						<label class="btn btn-default btn-sm"
									 for="photo">
									 <span class="glyphicon glyphicon-cloud-upload"></span> <span class="file-name">Choose Student's Photo</span>
						</label>
						<input type="file"
									 name="studPhoto"
									 id="photo"
									 class="form-control inputfile"
									 aria-describedby="helpPhoto"
									 tabindex="9"
									 onchange="angular.element(this).scope().addImageFile(this)"
									 ng-model="newStudent.photo"
									 accept="image/*">

						<span id="helpPhoto"
									ng-show="addRecord.studPhoto.$invalid && addRecord.studPhoto.$dirty"
									class="help-block error">{{ getError(addRecord.studPhoto.$error) }}
						</span>

					</div>
					<button type="submit"
									class="btn btn-primary"
									tabindex="10"
									ng-disabled="addRecord.$invalid">Submit</button>
				</form>
			</div><!-- showingAdd -->
		</div><!-- END col -->
	</div><!-- END row student add record form-->






























	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

			<!-- If have no data -->
			<div ng-show="!students">{{noData}}</div>

			<!-- Tablist area -->
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">

				<!-- Block with only data from server -->
				<div class="panel panel-default"
						 ng-repeat-start="student in students.list"
						 ng-if="editingStudent.user_id !== student.user_id">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{ $index }}" aria-expanded="false" aria-controls="collapse{{ $index }}">
								<strong>{{ student.student_surname }}</strong> {{ student.student_fname }} - {{ student.group_name }}
							</a>
						</h4>

					</div><!-- END panel-heading -->
					<div id="collapse{{ $index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						<!-- Here could be panel-body -->
						<div class="table-responsive">
							<table class="table table-striped">
								<tr>
									<td colspan="2"><h4><span class="admin-info">Group: </span>{{ student.group_name }}</h4></td>
									<td class="td-photo hidden-xs" rowspan="3">
										<img class="student-photo" 
												 ng-src="{{ student.photo ? student.photo : '../build/img/def-stud.jpg' }}"
												 alt="Photo of {{student.student_surname }} {{ student.student_fname }}">
									</td>
								</tr>
								<tr>
									<td>{{ student.student_surname }}</td>
									<td>{{ student.gradebook_id }}</td>
								</tr>
								<tr>
									<td>{{ student.student_fname }}</td>
									<td>{{ student.student_name }}</td>
								</tr>
							</table>
						</div><!-- END table-responsive -->

						<div class="panel-footer">
							<button class="btn btn-info"
											ng-click="showEditingForm(student)">
								<span class="glyphicon glyphicon-pencil"></span>
							</button>
							<button class="btn btn-danger"
											ng-click="confirmDelete(student.user_id)"
											data-toggle="modal"
											data-target="#deleteModal">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</div><!-- END panel-footer -->

					</div><!-- END panel-collapse -->
				</div><!-- END panel -->








				<!-- Block for editing student's data -->
				<div class="panel panel-default"
						 ng-repeat-end
						 ng-if="editingStudent.user_id === student.user_id">
					<div class="panel-heading" role="tab" id="heading{{ $index }}">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{ $index }}" aria-expanded="false" aria-controls="collapse{{ $index }}">
								<strong>{{ student.student_surname }}</strong> {{ student.student_fname }} - {{ student.group_name }}
							</a>
						</h4>

					</div><!-- END panel-heading -->
					<div id="collapse{{ $index }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ $index }}">
						<!-- Here could be panel-body -->
						<div class="table-responsive">
							<table class="table table-striped">
								<tr>
									<td colspan="2"><span class="admin-info">Group: </span>
										<select class="form-control width-max"
														ng-options="key as value for (key, value) in students.group"
														ng-model="student.group_id"
														name="group">
							</select>
									</td>
									<td class="td-photo hidden-xs" rowspan="3">
										<img class="student-photo" 
												 ng-src="{{ student.photo ? student.photo : '../build/img/def-stud.jpg' }}"
												 alt="Photo of {{student.student_surname }} {{ student.student_fname }}">
									</td>
								</tr>
								<tr>
									<td>
										<input type="text"
													 name="eSSurname"
													 id="sSurname"
													 class="form-control"
													 placeholder="{{ student.student_surname }}"
													 tabindex="2"
													 ng-minlength="2"
													 ng-maxlength="50"
													 ng-model="editingStudent.student_surname"
													 value="{{ student.student_surname }}"
													 required>
									</td>
									<td>
										<input type="text"
													 name="eSGradebook"
													 id="sGradebook"
													 class="form-control"
													 placeholder="{{ student.student_gradebook }}"
													 tabindex="3"
													 ng-minlength="5"
													 ng-maxlength="20"
													 ng-model="editingStudent.gradebook_id"
													 value="{{ student.gradebook_id }}"
													 required>
									</td>
								</tr>
								<tr>
									<td>
										<input type="text"
													 name="eSFName"
													 id="sFName"
													 class="form-control"
													 placeholder="{{ student.student_fname }}"
													 tabindex="4"
													 ng-minlength="2"
													 ng-maxlength="50"
													 ng-model="editingStudent.student_fname"
													 value="{{ student.student_fname }}"
													 required>
									</td>
									<td>
										<input type="text"
													 name="eSName"
													 id="sName"
													 class="form-control"
													 placeholder="{{ student.student_name }}"
													 tabindex="5"
													 ng-minlength="2"
													 ng-maxlength="50"
													 ng-model="editingStudent.student_name"
													 value="{{ student.student_name }}"
													 required>
									</td>
								</tr>
							</table>
						</div><!-- END table-responsive -->

						<div class="panel-footer">
							<button class="btn btn-success"
											ng-click="editStud()">
								<span class="glyphicon glyphicon-ok"></span>
							</button>
							<button class="btn btn-danger"
											ng-click="showEditingForm(null)">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</div><!-- END panel-footer -->

					</div><!-- END panel-collapse -->
				</div><!-- END panel -->

			</div><!-- END panel-group -->





















			<!-- Modal confirmation window before deleting -->
			<div class="modal fade"
					 role="dialog"
					 id="deleteModal"
					 aria-labelledby="gridSystemModalLabel">
				<div class="modal-dialog"
						 role="document">
					<div class="modal-content">

						<div class="modal-header">
							<button type="button"
											class="close"
											data-dismiss="modal"
											ng-click="confirmDelete()"
											aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>

							<h4 class="modal-title" id="gridSystemModalLabel">Do you really want to delete student?</h4>
						</div><!-- END modal-header -->

						<div class="modal-footer">
							<button type="button"
											class="btn btn-default btn-lg"
											data-dismiss="modal"
											ng-click="confirmDelete()">Undo
							</button>
							<button type="button"
											class="btn btn-danger btn-sm"
											ng-click="deleteStudent()"
											data-dismiss="modal">Delete
							</button>
						</div><!-- END modal-footer -->

					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

		</div><!-- END col -->
	</div><!-- END row getStudentsCTRL -->
</div>