<div class="panel panel-primary">
    <div class="panel-heading">
        <span class="col-md-3 pull-right">Час на роздуми: {{counter | formatTimer}}</span>
    </div>
    <div class="panel-body">
        <button class="btn btn-primary pull-left" ng-click = 'finishTest()'>Завершити тестування</button>
        <div class="pull-right text-center question-number">
            <a ui-sref="user.testPlayer({id:$index + 1})"
               ng-click='firstQuestion(questNumber, $index)'
               ng-repeat='questNumber in questionList'
               ng-class="{selectedItem: $index == selected}"
                    >{{$index + 1}}&nbsp;&nbsp;</a>
        </div>
    </div>
</div>
<div class="questionBar">
    <div class="question clearfix well">
        <p ng-bind-html="question | unsafe"></p>
    </div>
    <div class="answer clearfix well">
        <div ng-repeat='answer in answers'>
            <label ng-show="type == 'radio'">
                <input  type='radio' name="answer" ng-model="$parent.radioValue"
                       ng-value="{{answer.answer_id}}"/>
                <span ng-bind-html='answer.answer_text | unsafe'></span>
                <img class="picture new-picture navbar-btn" ng-src="{{answer.attachment}}"
                                             ng-show="answer.attachment != 'added'" alt=""/>
            </label>
            <label ng-show="type == 'checkbox'">
                <input type='checkbox' checklist-model="checklistValue" checklist-value="answer.answer_id" ng-click='clicked()'/>
                <span ng-bind-html='answer.answer_text | unsafe'></span>
            </label>
        </div>
    </div>
    <div class="submitQuestion">
        {{select.answers}}
        <input class="btn btn-primary" type="button" value="Підтвердити" ng-click="submitQuestion(radioValue)"/>
    </div>
</div>

<div ng-repeat="point in testResult">
    <p>Твоя оцінка: {{finalGrade}}%</p>
    <p>id:{{point.question_id}}</p>
    <p>res:{{point.true}}</p>
</div>
<p>question:{{question}}</p>