<div class="panel panel-primary">
    <div class="panel-heading">
        <span class="col-md-3 pull-right">Час на роздуми: {{counter | formatTimer}}</span>
    </div>
    <div class="panel-body">
        <button class="btn btn-primary pull-left">Завершити тестування</button>
        <div class="pull-right text-center question-number">
            <a ui-sref="user.testPlayer({id:$index + 1})"
               ng-click='firstQuestion(questNumber, ($index)'
               ng-repeat='questNumber in questionList'
               ng-class="{selectedItem: $index == selected}"
                    >{{$index + 1}}&nbsp;&nbsp;</a>
        </div>
    </div>
</div>
<div class="questionBar">
    <div class="question clearfix well">
        <p ng-bind-html="question | unsafe"></p>
    </div>
    <div class="answer clearfix well">
        <div ng-repeat='answer in answers'>
            <label ng-show="type == 'radio'" for='{{answer.answer_id}}'>
                <input id='{{answer.answer_id}}' type='radio' name="answer" ng-model="$parent.radioValue"
                       ng-value="{{answer.answer_id}}"/>
                <span ng-bind-html='answer.answer_text | unsafe'></span>
            </label>
            <label ng-show="type == 'checkbox'" for='{{answer.answer_id}}'>
                <input id='{{answer.answer_id}}' type='checkbox' checklist-value="{{answer.answer_id}}" checklist-model='userAnswer' ng-true-value="1" ng-false-value="0"/>
                <span ng-bind-html='answer.answer_text | unsafe'></span>
            </label>
        </div>
    </div>
    <div class="submitQuestion">
        <input class="btn btn-primary" type="button" value="Підтвердити" ng-click="submitQuestion(questNumber, radioValue)"/>
    </div>
</div>
