<div entities-drct="test">
<div class="testList">
    <div class="wrapper panel panel-success no-border">
        <div class="panel-heading"><span class="glyphicon glyphicon-bookmark"></span> Тести </div>
        <!-- The button and form to add Entity -->
        <div class="col-md-12">
            <div>
                <br/>
                <show-add-form-button-drct></show-add-form-button-drct>
                <br/><br/><br/>
                <div class="well" ng-show="showingAdd">
                    <div class=" row">
                        <form name="addForm" class="form-inline" role='form' novalidate>
                            <div class="col-md-6">
                                <input class="form-control width-max navbar-btn" placeholder="Введіть назву тесту" type='text'
                                       ng-model="newEntity.test_name" required>
                            </div>
                            <div class="col-md-6">
                                <input type="text"class="form-control width-max navbar-btn"
                                       placeholder="Введіть кількість завдань" ng-model="newEntity.tasks" required>
                            </div>
                            <div class="col-md-6">
                                <input type="text"class="form-control width-max navbar-btn" placeholder="Введіть тривалість(хв)"
                                       ng-model="newEntity.time_for_test" required>
                            </div>
                            <div class="col-md-6">
                                <input type="text"class="form-control width-max navbar-btn"
                                       placeholder="Введіть кількість спроб" ng-model="newEntity.attempts" required>
                            </div>
                            <div class="col-md-6">
                                <select class="form-control width-max navbar-btn" ng-model="newEntity.enabled" required>
                                    <option value="1" selected="selected">Доступно</option>
                                    <option value="0">Недоступно</option>
                                </select>
                            </div>
                            <div class="col-md-2 pull-right">
                                <button type="submit" class="btn btn-success pull-right width-max navbar-btn"
                                        ng-disabled="addForm.$invalid" ng-click="addEntity()">Додати
                                </button>
                            </div>
                            <div class="col-md-2 pull-right">
                                <button type="submit" class="btn btn-warning pull-right width-max  navbar-btn"
                                        ng-disabled="!addForm.$dirty" ng-click="resetEntity()">Очистити
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div ng-show="!entities">{{noData}}</div>
                <!-- The table for list of Entities -->
                <table ng-show="entities" class="table table-hover .table-condensed">
                    <thead class="usCenter">
                    <tr>
                        <th>№</th>
                        <th>Тест</th>
                        <th>Завдань</th>
                        <th>Тривалість</th>
                        <th>Спроб</th>
                        <th>Статус</th>
                        <th>Дії</th>
                    </tr>
                    </thead>
                    <tbody class="usCenter">
                    <tr ng-if="entity != editingEntity" ng-repeat-start="entity in entities">
                        <td><a ui-sref="admin.questions({id:entity.test_id})">{{$index + 1}}</a></td>
                        <td class="col-md-5">{{entity.test_name}}</td>
                        <td class="col-md-1">{{entity.tasks}}</td>
                        <td class="col-md-1">{{entity.time_for_test}}</td>
                        <td class="col-md-1">{{entity.attempts}}</td>
                        <td class="col-md-2">{{entity.enabled}}</td>
                        <td class="col-md-2">
                            <actions-buttons-drct></actions-buttons-drct>
                        </td>
                    </tr>
                    <tr ng-if="entity == editingEntity" ng-repeat-end="">
                        <td>{{$index + 1}}</td>
                        <!--написати перевірку на ввід чисел при редагуванні-->
                        <td class="col-md-5"><input class="form-control width-max navbar-btn" ng-model="editedEntity.new_test_name"></td>
                        <td class="col-md-1"><input class="form-control width-max navbar-btn" ng-model="editedEntity.new_tasks"></td>
                        <td class="col-md-1"><input class="form-control width-max navbar-btn" ng-model="editedEntity.new_time_for_test"></td>
                        <td class="col-md-1"><input class="form-control width-max navbar-btn" ng-model="editedEntity.new_attempts"></td>
                        <td class="col-md-2">
                            <select class="form-control width-max navbar-btn" ng-model="editedEntity.new_enabled">
                                <option value="1">Доступно</option>
                                <option value="0">Недоступно</option>
                            </select>
                        </td>
                        <td class="col-md-2">
                            <editing-buttons-drct></editing-buttons-drct>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- The modal to confirm removing of Entity -->
                <deleting-modal-drct></deleting-modal-drct>
                <!-- The modal to inform about error from server -->
                <inform-modal-drct></inform-modal-drct>
            </div>
        </div>
    </div>
</div>
</div>
