<div class="container-fluid" ng-controller="loginCtrl">
    <div class="row nav-row">
        <div class="col-md-2 pad"> </div>
        <div class="col-md-2 left-panel hidden-sm hidden-xs">
            <div class="row">
                <div class="col-xs-12">
                    <!-- Клік по лого - головна сторінка -->
                    <center><a href=""><img class="logo hidden-sm hidden-xs" src="img/Logo.png" height="150" alt="Logo"></a></center>
                    <hr>
                </div>
            </div>
            <div class="row">
                <nav class="col-md-12 hidden-sm hidden-xs">
                    <ul class="">
                        <li><a href="#/"><span class="glyphicon glyphicon-tasks"></span>Результати</a></li>
                        <li><a href="#/"><span class="glyphicon glyphicon-user"></span>Студенти</a></li>
                        <li><a href="#/"><span class="glyphicon glyphicon-th-list"></span>Тести</a></li>
                        <li><a ui-sref=".faculties"><span class="glyphicon glyphicon-tag"> </span>Факультети</a></li>
                        <li><a ui-sref=".groups"><span class="glyphicon glyphicon-tag"></span>Групи</a></li>
                        <li><a ui-sref=".specialities"><span class="glyphicon glyphicon-tag"> </span> Спеціальності</a></li>
                        <li><a href="#/"><span class="glyphicon glyphicon-education"></span>Предмети</a></li>
                    </ul>
                </nav>
            </div>
            <div class="row">

            </div>
        </div>
        <div class="col-xs-12 col-md-10">
            <div class="row">
                <div class="col-xs-12 top-nav">

                    <nav class="col-sm-12 hidden-md hidden-lg">
                        <ul class="">
                            <li><a href="#/"><span class="glyphicon glyphicon-tasks"> </span> Результати</a></li>
                            <li><a href="#/"><span class="glyphicon glyphicon-user"> </span> Студенти</a></li>
                            <li><a href="#/"><span class="glyphicon glyphicon-th-list"> </span> Тести</a></li>
                            <li><a ui-sref=".faculties"><span class="glyphicon glyphicon-tag"> </span> Факультети</a></li>
                            <li><a ui-sref=".groups"><span class="glyphicon glyphicon-tag"> </span> Групи</a></li>
                            <li><a ui-sref=".specialities"><span class="glyphicon glyphicon-tag"> </span> Спеціальності</a></li>
                            <li><a href="#/"><span class="glyphicon glyphicon-education"> </span> Предмети</a></li>
                        </ul>
                    </nav>

                    <div class="hidden-sm hidden-xs">


                        <div class="col-sm-offset-5 col-sm-4">
                            <div class="input-group margin">
                                <input type="text" class="form-control" placeholder="Пошук">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="glyphicon glyphicon-search"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li><a href="#">Дія</a></li>
                                        <li><a href="#">Інша дія</a></li>
                                        <li><a href="#">Тут щось ще</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Відокремлений лінк</a></li>
                                    </ul>
                                </div><!-- /btn-group -->
                            </div><!-- /input-group -->
                        </div>

                        <div class="col-sm-3">
                            <div class="input-group margin">
                    <span id="basic-addon1" class="input-group-addon">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <!--user_name--> {{detectUser}}
                            </span>
                                <button type="button" class="btn btn-success" title="Вихід"><span class="glyphicon glyphicon-share-alt"></span></button>
                            </div><!-- /input-group -->
                        </div>

                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">

                    <div ui-view>

                    </div>



                </div>
            </div>
        </div>

    </div>
</div>
