<div class="container-fluid">
  <div class="row nav-row">
    <div class="col-md-2 pad"></div>
    <div class="col-md-2 left-panel hidden-sm hidden-xs">
      <div class="row">
        <div class="col-xs-12">
          <!-- Клік по лого - головна сторінка -->
          <center><a ui-sref=".main"><img class="logo hidden-sm hidden-xs" src="img/Logo.png" height="150" alt="Logo"></a>
          </center>
          <hr>
        </div>
      </div>
      <div class="row">
        <nav class="col-md-12 hidden-sm hidden-xs">
          <ul class="">
            <li><a ui-sref="#"><span class="glyphicon glyphicon-home"></span> Головна</a></li>
            <hr>
            <li><a ui-sref=".subjects"><span class="glyphicon glyphicon-book"></span> Предмети</a></li>
            <hr>
            <li><a ui-sref=".results"><span class="glyphicon glyphicon-tasks"></span> Результати</a></li>
            <hr>
          </ul>
        </nav>
      </div>
      <div class="row">
      </div>
    </div>
    <div class="col-xs-12 col-md-10">
      <div class="row">
        <div class="top-nav navbar">
          <div class="hidden-lg hidden-md container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#responsive-menu">
                <span class="sr-only">Open navig</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" ui-sref=".main">
                <img class="hidden-md hidden-lg" src="img/mini-Logo.png" height="48px" alt="Logo">
              </a>
            </div>
            <div class="collapse navbar-collapse col-offset-sm-2" id="responsive-menu">
              <div class="sm-menu">
                <ul class="nav navbar-nav">
                  <li>
                    <a ui-sref="#"><span class="glyphicon glyphicon-home"></span>Головна</a>
                  </li>
                  <li>
                    <a ui-sref=".tests"><span class="glyphicon glyphicon-book"></span>Предмети</a>
                  </li>
                  <li>
                    <a ui-sref=".results"><span class="glyphicon glyphicon-tasks"></span>Результати</a>
                  </li>
                  <li>
                    <hr class="hidden-sm">
                    <div class="input-group margin">
                      <input type="text" ng-model="searchItem" class="form-control " placeholder="Пошук" aria-describedby="search-icon">
                      <div class="input-group-addon" id="search-icon">
                        <span class="glyphicon glyphicon-search"></span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <hr class="hidden-sm">
                    <div class="input-group margin navbar-right hidden-sm">
                      <span id="basic-addon1" class="input-group-addon">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        {{detectUser}}
                      </span>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-danger marginTop" title="Вихід" ng-click="exit()">
                          <span class="glyphicon glyphicon-off"></span></button>
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="input-group margin hidden-xs">
                <span id="basic-addon1" class="input-group-addon">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                  {{detectUser}}
                </span>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-danger marginTop" title="Вихід" ng-click="exit()">
                    <span class="glyphicon glyphicon-off"></span></button>
                </span>
              </div>
            </div>
          </div>
          <div class="hidden-sm hidden-xs">
            <div class="col-md-4">
              <div class="input-group margin col-md-12">
                <input type="text" ng-model="searchItem" class="form-control" placeholder="Пошук" aria-describedby="search-icon">
                <div class="input-group-addon" id="search-icon">
                  <span class="glyphicon glyphicon-search"></span>
                </div>
              </div>
            </div>
            <div class="pull-right">
              <div class="input-group margin">
        <span id="basic-addon1" class="input-group-addon">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          {{detectUser}}
        </span>
        <span class="input-group-btn">
          <button type="button" class="btn btn-danger marginTop" title="Вихід" ng-click="exit()"><span
              class="glyphicon glyphicon-off"></span></button>
        </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div ui-view>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
