/* ___________________________________________________________________________
**
** Project forms styles
** ___________________________________________________________________________
*/

form {
	position: relative;

	input[type="text"],
	input[type="email"],
	input[type="password"] {
		border: 1px solid $clr-border;
		width: 80%;
		display: inline-block;
		height: ($baseline * 1.5);
		line-height: ($baseline * 1.5);
		min-width: 10em;
		color: $clr-bg-dblue;
		font-family: $txt-headline;
		font-size: $body-font-size;
		font-weight: normal;
		font-style: normal;
		padding-left: 10px;

		&::-webkit-input-placeholder {color:$clr-light-text;}
		&::-moz-placeholder {color:$clr-light-text;}
		&:-moz-placeholder {color:$clr-light-text;}
		&:-ms-input-placeholder {color:$clr-light-text;}

		@include round(3px);

		&:focus {
			color: $clr-bg-dblue;
			outline: none;
			border-color: $clr-hover-lblue;
			@include drop-shadow-input-focus(1px, 1px, 3px, 0, .5);
		}
	} // END Inputs

	input[type="submit"] {
		margin: 0 auto;
	}
} //END Form

ul.form-input-list {
	margin-top: $baseline;
	list-style: none;
	& li {
		margin-bottom: $baseline;
	}
}

.help-block {
	font-family: $txt-headline;
}