/* ___________________________________________________________________________
**
** Responsive views for desktop
** ___________________________________________________________________________
*/

@media #{$content-md} {

	/* _________________________________________
	**
	** Start .fullscreen styling.container-fluid
	** _________________________________________
	*/

	.container-fluid {
		padding: 0;
		height: 100%;
	}

	.row {
		margin: 0;
	}

	.row.sides {
		margin: 20px 15px 30px 15px;
	}

	.row.sides.line {
		margin: 0;
		padding: 25px 15px 25px 15px;
		border-bottom: 1px solid $clr-light-border;
		background-color: $clr-light-bg;
		@include round(0px);
	}

	.col {
		height: 100%;
		padding: 0;
	}

	.fullscreen {
		height: 100%;
	}

	/* ____________________________________
	**
	** Start vertical navbar styles
	** ____________________________________
	*/

	.side-nav {
		height: 100%;
		border-right: 1px solid $clr-light-bg;
		@include drop-shadow(1px, 0px, 1px, 0px, .10);
	}

	.side-nav .navbar .navbar-collapse {
		padding: 0;
		max-height: none;
	}

	.side-nav .navbar {

		ul {
			float: none;
			&:not {
				display: block;
			}
		}

		li {
			float: none;
			display: block;

			a {
				padding-top: 12px;
				padding-bottom: 12px;
				text-align: right;
				color: $WHITE;

				&:hover {
					color: $clr-text-yellow;
				}
			}
		}
	}

	.navbar {
		margin-bottom: 0;
	}

	.navbar-default {
		border: none;
		background-image: none;
		background-color: $clr-bg-dblue;

		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;

		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;

		height: 100%;
	}

	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .open > a {
		background-image: none;
		background-color: $WHITE;
		color: $clr-hover-lblue;
		&:hover,
		&:active {
			background-color: $WHITE;
		}
	}

	.navbar-default .navbar-nav > li:hover {
		background-color: $clr-hover-lblue;
	}

	.collapse .navbar-collapse {
		height: 100%;
	}

	/* ________________________________________
	**
	** Styling brand-container in vertical menu
	** ________________________________________
	*/
	.navbar>.container .navbar-brand,
	.navbar>.container-fluid .navbar-brand {
		margin-left: 0;
	}

	.brand-container {
		padding: 15px;
		text-align: right;

		a.navbar-brand {
			padding: 0;
			width: 100%;
			height: $baseline * 3.5;
			display: block;
			font-size: $baseline * 2.5;
			line-height: $baseline * 2.5;
			color: $clr-text-yellow;
		}

		h4 {
			color: $WHITE;
		}
	}

	/* ____________________________________
	**
	** Column with main content on the page
	** ____________________________________
	*/

	.content {
		overflow-y: scroll;
	}


}// END @media content-md
