@import '_variables.scss';
@import '_mixins.scss';
@import '_typography.scss';
@import '_forms.scss';
@import '_buttons.scss';

.center-block {
	width: 100%;
	margin: 0 auto;
}

@media screen and (min-width: 992px) {
	.center-block {
		margin-top: $baseline * 5;
	}
}

.full-height {
	height: 100%;
	background: url('../img/login-bg.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

.col-rb {
	border-right: 1px solid $clr-secondary-color;
}

span.clr-primary {
	color: $clr-primary-color;
}

span.clr-secondary {
	color: $clr-secondary-color;
}

div {
	outline: 1px solid red;
}



/////////////////////////////////////////////////
/////////////////////////////////////////////////
/////////////////////////////////////////////////

// body,
// html,
// .container-fluid,
// .nav-row {
// 	height: 100%;
// }

// .margin {
// 	margin:10px;
// }

// @mixin navstyle {
// 	background-color: $nav_color;
// 	ul {
// 		padding-left: 0;
// 		li {
// 			list-style-type: none;
// 			a {
// 				color: white;
// 					padding: 15px 0;
// 					text-align: center;
// 					width: 100%;
// 					font-size:16px;
// 				&:hover {
// 					text-decoration: none;
// 					font-weight: bold;
// 					background-color: #057933;
// 				}
// 				span {
// 					color: #e8fb77;
// 						text-shadow: 0 0 8px #C4D2D5;
// 						font-size:20px;
// 				}
// 			}
// 		}
// 	}
// }

// .left-panel {
// 	position: fixed;
// 	min-height: 100%;
// 	box-shadow: 3px 0 3px $nav_color;
// 	ul li a {
// 		display: inline-block;
// 		span {
// 			display:block;
// 			padding-bottom:5px;
// 		}
// 	}
// 	@include navstyle;
// }

// .top-nav {
// 	box-shadow: 0 3px 3px $nav_color;
// 	margin-bottom: 20px;
// 	ul li a span {
// 		padding:5px;
// 	}
// 	@include navstyle;
// }


// .usCenter {
// 		text-align: center;
// }
// .badge{
// 		background-color: #3c763d;
// }
// @media (min-width: 600px) {
// 	.top-nav ul {
// 		margin:10px auto;
// 		li{
// 				display: inline;
// 				margin: 5px 7px 5px 7px;
// 		}
// 	}
// }
// @media (max-width: 601px) {
// 	.top-nav ul li a{
// 			display: inline-block;
// 		}
// }
