@import '_variables.scss';
@import '_mixins.scss';
@import '_typography.scss';
@import '_forms.scss';
@import '_buttons.scss';
@import '_template.scss';
@import '_responsive.scss';

.center-block {
	width: 100%;
	margin: 0 auto;
}

@media screen and (min-width: 992px) {
	.center-block {
		margin-top: $baseline * 5;
	}
}

span.clr-primary {
	color: $clr-primary-color;
}

span.clr-secondary {
	color: $clr-secondary-color;
}

.col {
	outline: 1px solid red;
	height: 100%;
	padding: 0;
}



/////////////////////////////////////////////////
/////////////////////////////////////////////////
/////////////////////////////////////////////////
