* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.commonWrapper {
  height: 100%; }

.loginPage {
  background: url("../img/texture.png"); }

.loginLogo {
  margin-top: 20px; }
  .loginLogo img {
    width: 175px;
    margin: 0 auto; }

.system {
  text-align: center;
  margin-bottom: 40px; }
  .system h3 {
    color: #014783;
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
    line-height: 120%;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3); }

.loginFormWrapper {
  width: 300px;
  float: none;
  margin: 0 auto; }

form .ng-invalid-required.ng-dirty,
form .ng-invalid-minlength.ng-dirty {
  border: 1px solid #f00; }

form .ng-invalid-data.ng-dirty {
  background-color: lightgoldenrodyellow; }

form .ng-valid.ng-dirty {
  border: 1px solid #37B549; }

span.summary.ng-invalid {
  color: red;
  font-weight: bold; }

span.summary.ng-valid {
  color: green; }

.error {
  color: #ff465e;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  padding-top: 5px; }

.left-inner-addon {
  position: relative; }

.left-inner-addon input {
  padding-left: 30px; }

.left-inner-addon i {
  position: absolute;
  padding: 10px 12px;
  pointer-events: none; }

.fieldsBg {
  background-image: none;
  background-color: #EBFDD4;
  border-color: #3AB54A; }

.padding {
  padding-bottom: 60px; }

.footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0; }

.copyright {
  text-align: center;
  font-size: 15px;
  color: #014783; }

.wrongCredentials {
  text-align: center;
  color: #f00;
  font-size: 15px; }

.btn-success:focus {
  outline: none; }

body, html, .container-fluid, .nav-row {
  height: 100%; }

.margin {
  margin: 10px; }

.left-panel {
  position: fixed;
  min-height: 100%;
  box-shadow: 3px 0 3px #069740;
  background-color: #069740; }
  .left-panel ul li a {
    display: inline-block; }
    .left-panel ul li a span {
      display: block;
      padding-bottom: 5px; }
  .left-panel ul {
    padding-left: 0; }
    .left-panel ul li {
      list-style-type: none; }
      .left-panel ul li a {
        color: white;
        padding: 15px 0;
        text-align: center;
        width: 100%;
        font-size: 16px; }
        .left-panel ul li a:hover {
          text-decoration: none;
          font-weight: bold;
          background-color: #057933; }
        .left-panel ul li a span {
          color: #e8fb77;
          text-shadow: 0 0 8px #C4D2D5;
          font-size: 20px; }

.top-nav {
  box-shadow: 0 3px 3px #069740;
  margin-bottom: 20px;
  background-color: #069740; }
  .top-nav ul li a span {
    padding: 5px; }
  .top-nav ul {
    padding-left: 0; }
    .top-nav ul li {
      list-style-type: none; }
      .top-nav ul li a {
        color: white;
        padding: 15px 0;
        text-align: center;
        width: 100%;
        font-size: 16px; }
        .top-nav ul li a:hover {
          text-decoration: none;
          font-weight: bold;
          background-color: #057933; }
        .top-nav ul li a span {
          color: #e8fb77;
          text-shadow: 0 0 8px #C4D2D5;
          font-size: 20px; }

.logoWrapper {
  text-align: center; }

.usCenter {
  text-align: center;  }

.badge {
  background-color: #3c763d; }

.width-max{
  width:100% !important;
}
.testList .well .form-inline input, select, button {
 margin: 5px 0px;
}
@media (min-width: 600px) {
  .top-nav ul {
    margin: 10px auto; }
    .top-nav ul li {
      display: inline;
      margin: 5px 7px 5px 7px; } }
@media (max-width: 601px) {
  .top-nav ul li a {
    display: inline-block; } }
@media screen and (max-height: 642px) {
  .footer {
    position: static;
    margin-top: 30px;  }
  .container-fluid {
    height: auto;  } }

button.marginTop {
  margin-top: 0;
}
/* ___________________________________
 *
 * Here is styles for student entities
 * ___________________________________
*/

.student-photo {
  width: 100%;
  height: auto;
}

.table>tbody>tr>td.td-photo {
  width: 15%;
  padding: 0;
}
